<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Grautbakken Filmsjappe</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Grautbakken.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body style="background-color: #ffffff">

    <div id="headerDiv" class="container">
        <table>
            <tr>
                <td>
                    <a href="@Url.Action("Index", "Film")" title="Hjem" class="links">
                        <img alt="Logo" src="@Url.Content("~/Content/images/logo.jpg")" class="img-responsive" width="180" height="126">
                    </a>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    <h2>Grautbakken Filmsjappe</h2>
                </td>
            </tr>
        </table>
    </div>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Film")">Hjem</a></li>
                    <li><a href="@Url.Action("Filmer", "Film")">Filmer</a></li>
                    <li><a href="@Url.Action("Sjangere", "Film")">Sjangere</a></li>
                    <li><a href="@Url.Action("Skuespillere", "Film")">Skuespillere</a></li>
                    <li><a href="@Url.Action("Nyheter", "Film")">Nyheter</a></li>
                    <li>
                        <div id="søkeFelt">
                            <form autocomplete="off">
                                <input type="text" id="søkeInput" size="30" onkeyup="visSøk(this.value)" class="form-control" placeholder="Søk på film, person" />
                                <div id="søkeForslag"></div>
                            </form>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["Brukernavn"] != null && (string)Session["Brukernavn"] != "")
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                @Session["Brukernavn"]
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Bruker", "Film", new { brukernavn = (string)Session["Brukernavn"] })">Min Side</a></li>
                                <li><a href="@Url.Action("Logut", "Film")">Logut</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Registrer", "Film")">Bli Medlem</a></li>
                        <li><a href="@Url.Action("Loginn", "Film")"><span class="glyphicon glyphicon-log-in"></span> Logg in</a></li>
                    }
                    <li> <a href="#"> | </a> </li>
                    @if (Session["Admin"] != null && (string)Session["Admin"] != "")
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                @Session["Admin"]
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Admin", "Admin")">Adminportal</a></li>
                                <li><a href="@Url.Action("Logut", "Admin")">Logut</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Admin", "Admin")">Administrator</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content" id="contentDiv">
        @RenderBody()

        <hr />
        <div id="footerDiv">
            <p>&copy; @DateTime.Now.Year - Grautbakken Filmsjappe</p>
            <p>
                Grautbakken Filmsjappe er en fiksjonell filmbutikk. Denne websiden er laget som besvarelse på eksamensdeloppgave 1 i webapplikasjoner ved OsloMet <br />
                Alle skuespillere er fiksjonelle, og fabrikert for denne oppgaven. Skuespillerportrettene er lisensert under <a href="https://www.pexels.com/photo-license/">Open License Agreement</a> og hentet fra <a href="https://www.pexels.com">pexels.com</a> <br />
                Filmene er delvis fiksjonelle, og mye av informasjonen rundt de er fabrikert for denne oppgaven. Bildeplakatene er hentet fra <a href="https://en.wikipedia.org/wiki/Category:Fair_use_images_of_movie_posters">wikipedias samling av Royalty Free Movie Posters</a>
            </p>
            <p>
                Det meste av data og informasjon på denne websiden er automatisk og/eller tilfeldig generert.
            </p>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

<script type="text/javascript">

    function visSøk(input) {
        if (input.length < 2) {
            $("#søkeForslag").html("");
            $("#søkeForslag").css("border", "0px");
            return;
        }
        else {
            hentSøkeforslag(input);
        }
    }

    function hentSøkeforslag(input) {
        $.ajax({
            url: '/Film/HentSøkeforslag/?streng=' + input,
            type: 'GET',
            dataType: 'json',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                formaterSøkedata(data);
            },
            error: function (x, y, z) {
                console.log("Feilet API kall for å hente søkeforslag");
            }
        });
    }

    function formaterSøkedata(data) {
        var output = "";
        var link = "";
        for (var i = 0; i < data.length; i++) {
            var navn = markerSøk(data[i].Navn);
            if (data[i].Type == "Film") {
                link = "<a href='/Film/Film?id=" + data[i].id + "'>";
            }
            else {
                link = "<a href='/Film/Skuespiller?id=" + data[i].id + "'>";
            }
            output += "<div class='row'>";
            output += "<div class='col-sm-4'>";
            output += link;
            output += "<img src='/" + data[i].Bilde + "' class='img' width='70%' height='80%' alt='" + data[i].Navn + "'>";
            output += "</a></div>";
            output += "<div class='col-sm-8'>";
            output += link;
            output += "<p>" + navn + "</p>";
            output += "</a>";
            if (data[i].Type == "Film") {
                output += "Film";
            }
            else {
                output += "Skuespiller";
            }
            output += "</div></div><hr>"
        }

        $("#søkeForslag").html(output);
        $("#søkeForslag").css("border", "1px solid black");
    }

    function markerSøk(tekst) {
        tekst = tekst.toLowerCase();
        var søkeTekst = $("#søkeInput").val();
        var markering = "<span>" + søkeTekst + "</span>";
        var formatering = tekst.replace(søkeTekst, markering);
        return formatering;
    }

</script>