@model Model.EndreKunde

@{
    ViewBag.Title = "Bruker";
}
@if (Model != null)
{

    <h2>Bruker <i>@Session["Brukernavn"]</i> </h2>

    if (ViewBag.EndreStatus != null)
    {
        <p>@ViewBag.EndreStatus</p>
    }

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)

            <div class="form-group">
                @Html.LabelFor(model => model.Fornavn, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Fornavn, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fornavn, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Etternavn, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Etternavn, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Etternavn, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Passord, htmlAttributes: new { @class = "control-label col-md-2", @id = "passord1" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Passord, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Passord, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Kort, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Kort, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Kort, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Endre" class="btn btn-default" />
                    @Html.ActionLink("Tilbake", "Index", new { tom = "" }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    }
    <hr />
    <br />


    <div class="container">
        <div class="row">
            <div class="col-md-6">
                @if (Model.Filmer.Any())
                {
                    <h3>Filmer du har sett:</h3>
                    <table>
                        @foreach (var film in Model.Filmer)
                        {
                            <tr>
                                <td>
                                    <a href="/Film/Film?id=@film.id">@film.Navn</a>
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <p>Du har ikke sett noen filmer enda. Trykk <a href="/Film/Filmer">her for en oversikt over vårt filmutvalg</a> </p>
                }
            </div>
            <div class="col-md-6">
                @if (Model.Stemmer.Any())
                {
                    <h3>Filmer du har gitt en vurdering:</h3>
                    {
                        int teller = 0;
                        <table>
                            <thead>
                                <tr>
                                    <th>Film</th>
                                    <th></th>
                                    <th>Din stemme</th>
                                </tr>
                            </thead>
                            @foreach (var stemme in Model.Stemmer)
                            {
                                <tr>
                                    <td>
                                        <a href="/Film/Film?id=@stemme.Filmer[teller].id">@stemme.Filmer[teller].Navn</a>
                                    </td>
                                    <td>
                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    </td>
                                    <td>
                                        @stemme.AntallStjerner
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                }
                else
                {
                    <p>Her vil du få en oversikt over filmer du har gitt en vurdering</p>
                }
            </div>
        </div>
        @if (Model.Ønskeliste != null)
        {
            <div class="row">
                <div class="col-lg-12">
                    <h4>Ønskeliste</h4>
                    @foreach (var film in Model.Ønskeliste.Filmer)
                    {
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="/Film/Film?id=@film.id">@film.Navn</a>
                            </div>
                            <div class="col-sm-3">
                                <button onclick="slettFraØnskeliste(@film.id)" class="btn btn-warning">Slett</button>
                            </div>
                            <div class="col-sm-6">
                                <div id="slettResultat">

                                </div>
                            </div>
                        </div>
                        <br />
                    }
                </div>
            </div>
        }
    </div>
    <br />

    if (Model.Filmer.Any())
    {
        <hr /><br />
        <div class="container">
            <div id="foreslåtteFilmerDiv">

            </div>
        </div>
    }
}
else
{
    <br /><br />
    <p>Fant ikke brukeren</p>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        // Henter filmforslag fra en tilfeldig sjanger som brukeren har sett tidligere
        $.ajax({
            url: '/Film/ForeslåFilm',
            type: 'GET',
            dataType: 'json',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                if (data != null) {
                    formaterFilmForslag(data);
                }
            },
            error: function (x, y, z) {
                console.log("Feilet API kall for å hente filmforslag");
            }
        });
    });

    // Formaterer jsondata for visning på siden
    function formaterFilmForslag(data) {
        var output = "";
        output += "<h4>Filmforslag - basert på filmer du har sett i kategorien <b>" + data[0].Sjanger + "</b>:</h4>";
        output += "<div class='row'>";
        $(jQuery.parseJSON(JSON.stringify(data))).each(function () {
            output += "<div class='col-sm-4'>";
            output += "<a href='/Film/Film?id=" + this.id + "'>";
            output += "<img src='/" + this.Bilde + "' class='img img-responsive' width='150' alt='" + this.Navn + "' height='75'>";
            output += "<br>" + this.Navn + "</a><br>";
            output += this.Pris + "kr";
            output += "</div>"
        });
        output += "</div>";

        $("#foreslåtteFilmerDiv").html(output);
    }


    // Det her trenger egentlig ikke være et ajax-kall, men jeg får ikke brukt vanlig mvc-slett funksjon pga validate i samme view
    function slettFraØnskeliste(innID) {
        $.ajax({
            url: '/Film/SlettFraØnskeliste?id=' + innID,
            type: 'GET',
            dataType: 'json',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                location.reload();
            },
            error: function (x, y, z) {
                console.log("Feilet API kall for å slette fra ønskeliste");
                $("#slettResultat").html("Kunne ikke slette fra ønskeliste");
            }
        });
    }


</script>