@model IEnumerable<Model.Nyhet>

@{
    ViewBag.Title = "Nyheter";
}

<h2>Nyhetsarkiv</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tittel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beskjed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dato)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tittel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beskjed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dato)
        </td>
    </tr>
}

</table>
