@model List<Model.Skuespiller>

@{
    ViewBag.Title = "Skuespillere";
}

<h2>Skuespillere</h2>

<table class="table table-responsive">
    <tr>
        <th>
            
        </th>
        <th>
            @if (ViewBag.SkuespillerSortering == "Fornavn")
            {
                @Html.DisplayNameFor(model => model[0].Fornavn)
            }
            else
            {
                @Html.ActionLink("Fornavn", "Skuespillere", new { sortering = "Fornavn" })
            }
        </th>
        <th>
            @if (ViewBag.SkuespillerSortering == "Etternavn")
            {
                @Html.DisplayNameFor(model => model[0].Etternavn)
            }
            else
            {
                @Html.ActionLink("Etternavn", "Skuespillere", new { sortering = "Etternavn" })
            }
        </th>
        <th>
            @if (ViewBag.SkuespillerSortering == "Land")
            {
                @Html.DisplayNameFor(model => model[0].Land)
            }
            else
            {
                @Html.ActionLink("Land", "Skuespillere", new { sortering = "Land" })
            }
        </th>
        <th>
            @if (ViewBag.SkuespillerSortering == "Alder")
            {
                @Html.DisplayNameFor(model => model[0].Alder)
            }
            else
            {
                @Html.ActionLink("Alder", "Skuespillere", new { sortering = "Alder" })
            }
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="skuespillerRad">
            <td>
                <a href="#skuespillerModal"
                   data-navn="@item.Fornavn @item.Etternavn" data-alder="@item.Alder" data-bilde="@item.Bilde"
                   data-land="@item.Land" data-id="@item.id" data-toggle="modal" data-visSkuespiller="true">

                    <img alt="@Html.DisplayFor(modelitem => item.Fornavn) @Html.DisplayFor(modelitem => item.Etternavn)"
                         src="../@item.Bilde" class="img img-responsive img-rounded" width="180" height="126">

                    </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etternavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Land)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alder)
            </td>
            <td>
                <a href="#skuespillerModal" class="btn btn-large btn-info" id="skuespillerKnapp"
                   data-navn="@item.Fornavn @item.Etternavn" data-alder="@item.Alder" data-bilde="@item.Bilde"
                   data-land="@item.Land" data-id="@item.id" data-toggle="modal" data-visSkuespiller="true">Detaljer</a>
            </td>
        </tr>
    }
</table>

@Html.Partial("skuespillerModal")
